[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
keras = "*"
numpy = "*"
tensorflow = "*"
load = "*"
pillow = "*"
imageio = {extras = ["pyav"], version = "*"}
scikit-image = "*"

[dev-packages]

[requires]
python_version = "3.10"
